.idea/
.mypy_cache/
.tox/
build/
dist/
tmp/
venv/
.venv/
*/__pycache__/
**/__pycache__/
GPErks.egg-info/
GPErks/tests/temp/
GPErks/tests/output/
.pypirc
mypy_result.xml
*.ini
snapshot/
notebooks/.ipynb_checkpoints/
paper/*.pdf
.DS_Store
